
$blueLight: #6E9FEE;
$blue: #4fa0f1;
$darkBlue: #7186BD;
$darkerBlue: #5c78ad;

$lighterBlue: #d7dbe3;

$orange: #f5a732;
$green: #38B449;
$lightGreen: #52ac62;
$lightGreen: #58b943;
$yellow: #f9c432;
$trueGreen: #52ac62;

$red: #CC5148;

$default: #000;
$gray: #727271;
$darkGray: #333333;
$lightGray: #7f7f7f;
$lighterGray: #787878;


$darkWhite: #d9d9d9;
$lighterWhite: #dfdfdf;
$lightWhite: #e6e6e6;
$smoothWhite: #f2f2f2;
$white: #fff;
$light: #e5e5e2;

$body_background: #f1f1ee;

$main_font: 'Roboto', sans-serif;

$padding: 8px;