@import "../../theme/colors";

.filters_list {

  background-color: @lightWhite;
  padding: 20px 50px;

  .filters_list_field {

    margin: 20px 0 20px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    .filters_list_field_label {

      display: inline-block;
      vertical-align: top;
      line-height: 22px;
      width: 28%;
      font-weight: 300;
      text-align: left;

      span {
        font-size: 16px;
      }

    }

    .filters_list_field_input {

      display: inline-block;

    }

  }

  .query_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    font-weight: 300;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 1px 1px #ccc inset;
    border-radius: 2px;
    border: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #d3d3d3
    }

    &:-moz-placeholder {
      color: #d3d3d3
    }

    &::-moz-placeholder {
      color: #d3d3d3
    }

    &:-ms-input-placeholder {
      color: #d3d3d3
    }

  }

  .filter_field_expand {

    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
    display: block;
    color: #000;
    text-decoration: none !important;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    -o-transition: color 0.15s ease;
    transition: color 0.15s ease;
    cursor: pointer;

    &:hover {
      color: #6E9FEE;
    }

    &.open:before {
      transform: rotate(-180deg);
      transition: all ease .3s;
    }
    &:before {

      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: none;
      border-left: 6px solid transparent !important;
      border-right: 6px solid transparent !important;
      border-top: 6px solid #000;

    }

    .filter_field_expand_label {

      font-size: 18px;


    }

  }

  .slider_wrap {

    display: inline-block;
    width: auto;
    white-space: nowrap;
    max-width: 70%;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 20px;

    .slider_simple {

      display: inline-block;
      width: 400px;
      margin-right: 60px;
      vertical-align: top;
      height: 4px !important;
      background: #dcdcd9 !important;
      margin-top: 5px;
      position: relative;
      border-radius: 0 !important;

    }

    .slider_inputs_wrap {

      vertical-align: top;
      display: flex;
      position: relative;
      top: -8px;

      .slider_inputs_placeholder {

        line-height: 30px;
        font-weight: 300;
        font-size: 16px;

      }

    }

    .ui-slider-range {

      height: 4px !important;
      background: #7084b6 !important;
      position: absolute !important;
      border: none !important;

    }

    .ui-slider-handle {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      background: #ffffff !important;
      margin-top: -15px;
      margin-left: -16px;
      outline: none;
      border: 1px solid #fff;

      &:hover {

        border: 1px solid #ddd;

      }
    }

  }

  //datepickers
  .date_picker_wrapper {

    display: inline-block;
    margin: 0 4px;
    position: relative;
    min-width: 100px;
    width: auto;
    vertical-align: top;

    .input_simple {

      line-height: 40px;
      height: 40px;
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      background: #dcdcd9;
      border: none !important;
      box-shadow: none;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: 'Roboto', Arial, sans-serif;
      outline: none;
      padding: 0 10px;

    }

  }

  .filters_list_field_label.type_date {

    margin-top: 8px;

  }

}

.filters_footer {

  padding: 0 50px;
  background-color: @lightWhite;

  .filters_footer_inner {

    border-top: 2px solid @darkWhite;
    padding: 20px 0;

  }

  .filters_footer_count {

    float: left;
    margin-top: 10px;

  }

  button {

    float: right;

  }

  .reset_button {

    min-width: 94px;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    color: #000 !important;
    background-color: #ffffff;
    border: 1px solid #fff;
    padding: 9px 15px 9px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    line-height: 100%;
    box-sizing: border-box;
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .search_button {

    margin-left: 13px;
    min-width: 107px;
    padding: 10px 15px;

    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    color: #fff !important;
    border-radius: 50px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    text-align: center;
    background-color: #7084b6;
    text-decoration: none !important;
    white-space: nowrap;
    border: none !important;
    cursor: pointer;
    outline: none;
    line-height: 100%;
    font-family: 'Roboto', sans-serif;
    &:hover {
      background-color: rgb(135, 160, 224);
    }
  }

}

    /* Styles for range slider */
    .range-slider {
      width: 300px;
      margin: auto 16px;
      text-align: center;
      position: relative;
    }
    
    .range-slider svg,
    .range-slider input[type=range] {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    
    input[type=number] {
      border: 1px solid #ddd;
      text-align: center;
      font-size: 1.6em;
      -moz-appearance: textfield;
    }
    
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    
    input[type=number]:invalid,
    input[type=number]:out-of-range {
      border: 2px solid #ff6347;
    }
    
    input[type=range] {
      -webkit-appearance: none;
      width: 100%;
    }
    
    input[type=range]:focus {
      outline: none;
    }
    
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #7084b6;
    }
    
    input[type=range]:focus::-ms-fill-lower {
      background: #ffffff;
    }
    
    input[type=range]:focus::-ms-fill-upper {
      background: #ffffff;
    }
    
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: #7084b6;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }
    
    input[type=range]::-webkit-slider-thumb {
      z-index: 2;
      position: relative;
      top: -7px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      border: 1px solid #ffffff;
      height: 32px;
      width: 32px;
      border-radius: 25px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      outline: none;
      margin-top: -7px;
    }

